.accion_btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    svg{
        cursor: pointer;
    }
    svg:active{
        transform: scale(0.95);
    }
    svg:nth-child(1){
        color: #E74C3C;
    }
    svg:nth-child(2){
        color: #2E86C1;
    }
}